* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  text-align: center;
}

.card-body {
  text-align: center;
}

.cityBtn {
  display: block;
  margin-top: 5px;
}

li {
  list-style: none;
}
