li {
  list-style: none;
}

body {
  height: 100%;

  background-color: #4b5d67;
}

#portraitPhoto {
  max-width: 500px;
  max-height: 300px;
  border-radius: 15%;
}

.textColor {
  color: white;
}

#portfolioPhoto {
  max-width: 100%;
  max-height: 100%;
}
